
SnapshotLocalization.xcodeproj/project.xcworkspace/xcuserdata/alex.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

SnapshotLocalization.xcodeproj/xcuserdata/alex.xcuserdatad/xcschemes/SnapshotLocalization.xcscheme
